.logo {
	float: none;
	text-align: center;
	margin-bottom: 15px;
}
.menu ul {
	padding-bottom: 10px;
}
.menu ul,
.menu ul > li {
	float: none;
	width: 100%;
}
.menu a {
	padding: 5px;
	border-bottom: 1px solid dotted;
}

.home-img,
.home-content {
	width: 100%;
	display: block;
}

.features .box {
	width: 100%;
}
.about{
    height: 400px;
}
.about-img,.about-content{
    text-align:center;
    width: 100%;
}

.btn-header{
    width: 100%;
}
.contact-info .box{
    width: 100%;
}